<div class="modal-content" style="background-color: #484b4e;border-color: black;">
  <div class="modal-header sckola-modal-header">
      <h3 class="modal-title sckola-modal-title">Error</h3>
  </div>
  <div style="text-align: center" class="modal-body color-white">
      {{ vm.message }}
  </div>
  <div class="modal-footer">
      <button class = "btn btn-default pull-right buttonCircleCreateModal" ng-show="vm.botonOk" type="button" ng-click="ok()">
          <span class="glyphicon glyphicon-ok glyphicon-ok-small"></span>
      </button>
  <!--    <button class="btn btn-primary" ng-show="vm.botonOk" type="button"
      ng-click="ok()">Aceptar</button>-->
  </div>
</div>
