<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
    <h4 class="text-white" style="margin: 0;">Adjuntos</h4>
</div>
<div class="modal-body">
    <div>
        <input ng-model="vm.task.adjunt" class="form-control fillColor" name="titulo" type="text" placeholder="Adjuntos">
    </div>
    <br>
    <div class="modal-footer">
        <button class="btn btn-default sckola-btn shadow-feed-element button-modal" style="float: right" ng-click="vm.cerrar()">
            <span aria-hidden="true">Aceptar <span class="glyphicon glyphicon-ok"></span></span>
        </button>
    </div>
</div>
</div>