<div class="mdl-shadow--2dp mdl-color--white" style="margin-top: 8px;margin-left: 0px;margin-bottom: 8px;margin-right: 0px;">
    <button class="accordion">Cartelera<!-- Basic Chip -->
      <!--<span class="mdl-chip">
        <span class="mdl-chip__text">5</span>
        </span>-->
    </button>
    <div class="panel">

        <!---AQUI VAN LAS NOTIFICACIONES  --->
        <!--<slick class="slider" settings="vm.slickSettings">
            <div class="slick-track" style="border: solid 1px;" ng-repeat="notification in vm.notifications">
                <div>
                    <label class="item-name pull-left" style="width:100%;height:40px;">{{notification.from }} <button ng-show="notification.active" class=" pull-right glyphicon glyphicon-envelope btn notification-carousel-image animate-show-hide button-notification" tabindex="0"></button> </label>
                    <div style="background-color:red;"></div>
                    <label class="item-name" ng-if="notification.type != 'INFO'"> {{notification.matter.name+" "+notification.section.name}}</label>
                    <label class="item-name" ng-if="notification.type == 'INFO'"> {{notification.text}}</label>
                </div>
            </div>
        </slick>-->
        <uib-carousel class="notification-area" active="active" interval="0" no-wrap="true">
            <uib-slide ng-repeat="row in vm.notificaciones">
                <div class="row" style="height: 110px">
                    <div class="slide item-slide"style="height: 100px;  margin-left:1%;"  ng-repeat="notification in row track by $index" ng-class="getSlideClass(vm.chunkSize)" ng-click="vm.clickNotification(notification)" smart-chunking>
                        <label class="item-name pull-left" style="width:100%; display: inline-flex; font-weight:700"><div style="width: 80%;">{{notification.from }}</div><div style="width: 20%"> <button ng-show="notification.active" class=" pull-right glyphicon glyphicon-envelope btn notification-carousel-image animate-show-hide button-notification" tabindex="0"></button> </div></label>
                        <div style="background-color:red;"></div>
                        <label style="text-overflow: ellipsis;  overflow: hidden;" class="item-name bulletin-board-text"> {{notification.text}}</label>
                        <!--<label class="item-name" ng-if="notification.type != 'INFO'"> {{notification.matter.name+" "+notification.section.name}}</label>
                        <label class="item-name" ng-if="notification.type == 'INFO'"> {{notification.text}}</label>-->
                        <!--<h4 class="item-reference pull-left" style="max-width:90%">{{notification.text}}</h4>-->
                    </div>
                </div>
            </uib-slide>
        </uib-carousel>
    </div>

    <button class="accordion">Colegas</button>
    <div class="panel">

        <!--<uib-carousel active="active" interval="0" no-wrap="true">
            <uib-slide ng-repeat="row in vm.notificaciones">
                <div class="row" style="height: 110px">
                    <div class="slide item-slide"style="height: 100px;  margin-left:1%;"  ng-repeat="notification in row track by $index" ng-class="getSlideClass(vm.chunkSize)" ng-click="vm.clickNotification(notification)" smart-chunking>
                        <label class="item-name pull-left" style="width:100%; display: inline-flex; font-weight:700"><div style="width: 80%;">{{notification.from }}</div><div style="width: 20%"> <button ng-show="notification.active" class=" pull-right glyphicon glyphicon-envelope btn notification-carousel-image animate-show-hide button-notification" tabindex="0"></button> </div></label>
                        <div style="background-color:red;"></div>
                        <label style="text-overflow: ellipsis;  overflow: hidden;" class="item-name"> {{notification.text}}</label>
                        &lt;!&ndash;<label class="item-name" ng-if="notification.type != 'INFO'"> {{notification.matter.name+" "+notification.section.name}}</label>
                        <label class="item-name" ng-if="notification.type == 'INFO'"> {{notification.text}}</label>&ndash;&gt;
                        &lt;!&ndash;<h4 class="item-reference pull-left" style="max-width:90%">{{notification.text}}</h4>&ndash;&gt;
                    </div>
                </div>
            </uib-slide>
        </uib-carousel>-->

    </div>

    <button class="accordion">Comunidad</button>
    <div class="panel">

        <!--<uib-carousel active="active" interval="0" no-wrap="true">
            <uib-slide ng-repeat="row in vm.notificaciones">
                <div class="row" style="height: 110px">
                    <div class="slide item-slide"style="height: 100px;  margin-left:1%;"  ng-repeat="notification in row track by $index" ng-class="getSlideClass(vm.chunkSize)" ng-click="vm.clickNotification(notification)" smart-chunking>
                        <label class="item-name pull-left" style="width:100%; display: inline-flex; font-weight:700"><div style="width: 80%;">{{notification.from }}</div><div style="width: 20%"> <button ng-show="notification.active" class=" pull-right glyphicon glyphicon-envelope btn notification-carousel-image animate-show-hide button-notification" tabindex="0"></button> </div></label>
                        <div style="background-color:red;"></div>
                        <label style="text-overflow: ellipsis;  overflow: hidden;" class="item-name"> {{notification.text}}</label>
                        &lt;!&ndash;<label class="item-name" ng-if="notification.type != 'INFO'"> {{notification.matter.name+" "+notification.section.name}}</label>
                        <label class="item-name" ng-if="notification.type == 'INFO'"> {{notification.text}}</label>&ndash;&gt;
                        &lt;!&ndash;<h4 class="item-reference pull-left" style="max-width:90%">{{notification.text}}</h4>&ndash;&gt;
                    </div>
                </div>
            </uib-slide>
        </uib-carousel>-->

    </div>

</div>
<script type="text/javascript" src="./assets/dashboard/js/accordeon.js"></script>
