
<br/><br/><br/>
<div><label class="color-white role-name center">{{vm.roleName}}</label></div> 
<img src="{{vm.usuario.foto}}" border="4" class="profile-image center"/>
<div style="margin-bottom: 1em;">
<label class="profile-name color-white center" ng-click="vm.goToProfile()" style="cursor: pointer;"> {{vm.usuario.firstName}}
<br/>
{{vm.usuario.lastName}}</label>
</div>
<ul class="menu list-group side-menu-list" id="accordion1" style="margin-left: 14%;">
    <li ng-hide="vm.role === 'REPRESENTATIVE' || vm.role === 'STUDENT'" class="list-group-item list-item-menu item-menu" ng-click="vm.goToUploadNotes()" style="background-color: inherit;border: none; cursor: pointer;"><a style="color:#fff;text-decoration:none; font-family: inherit !important;
        font-size: 100%;"><span class="glyphicon glyphicon-folder-open pull-left" style="margin-right: 10px;"></span> Notas </a></li>
    <li ng-hide="vm.role === 'TEACHER'" class="list-group-item list-item-menu item-menu" ng-click="vm.goToNotesStudents()" style="background-color: inherit;border: none; cursor: pointer;"><a style="color:#fff;text-decoration:none; font-family: inherit !important;
        font-size: 100%;"><span class="glyphicon glyphicon-folder-open pull-left" style="margin-right: 10px;"></span> Notas </a></li>
    <li ng-hide="vm.role === 'REPRESENTATIVE' || vm.role === 'STUDENT'" class="list-group-item list-item-menu item-menu" ng-click="vm.goToAssistances()" style="background-color: inherit;border: none; cursor: pointer;"><a style="color:#fff;text-decoration:none; font-family: inherit !important;
        font-size: 100%;"><span class="glyphicon glyphicon-ok pull-left " style="margin-right: 10px;"></span> Asistencia </a></li>
    <li ng-hide="vm.role === 'TEACHER'" class="list-group-item list-item-menu item-menu" ng-click="vm.goToCoursesStudents()" style="background-color: inherit;border: none; cursor: pointer;"><a style="color:#fff;text-decoration:none; font-family: inherit !important;
        font-size: 100%;"><span class="glyphicon glyphicon-book pull-left " style="margin-right: 10px;"></span> Clases </a></li>
    <li ng-hide="vm.role === 'REPRESENTATIVE' || vm.role === 'STUDENT'" class="list-group-item list-item-menu item-menu"
    style="background-color: inherit; border: none; cursor: pointer;">
        <a style="color:#fff;text-decoration:none; font-family: inherit !important; 
        font-size: 100%;" ng-href="{{vm.urlToReports}}" target="_blank" ng-click="vm.community == undefined && vm.showMessage()"><span class="glyphicon
        glyphicon-stats pull-left " style="margin-right: 10px;"></span> Reportes </a></li>
    <!--<li class="list-group-item list-item-menu item-menu" style="background-color: inherit;border: none; cursor: pointer;" ng-href="www.google.com"><span class="glyphicon glyphicon-stats pull-left " style="margin-right: 10px;"></span>Reportes</li>-->
    <li class="list-group-item list-item-menu item-menu" style="background-color: inherit;
    border: none;margin-top: 2em; cursor: pointer;">
        <a style="color:#fff;text-decoration:none; font-family: inherit !important; 
        font-size: 100%;" ng-href="{{vm.urlToApk}}" target="_blank">
            <span class="glyphicon glyphicon-phone pull-left " 
            style="margin-right: 10px;"></span> Versión móvil </a></li>
    <li class="list-group-item list-item-menu item-menu" style="background-color: inherit;
    border: none;margin-top: 0.5em; cursor: pointer;">
        <a style="color:#fff;text-decoration:none; font-family: inherit !important; 
        font-size: 100%;" ng-href="{{vm.urlToHelp}}" target="_blank">
            <span class="glyphicon glyphicon-question-sign pull-left " 
            style="margin-right: 10px;"></span> Ayuda </a></li>
</ul>

<!---
<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
        <img src="images/user.jpg" class="demo-avatar">
        <div class="demo-avatar-dropdown">
            <span>posma@posma.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item">hello@example.com</li>
                <li class="mdl-menu__item">info@example.com</li>
                <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
        </div>
    </header>

    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>Notas</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i>Asistencia</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assessment</i>Reportes</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span>Ayuda</a>
    </nav>

</div>

</div>

--->