<br/><br/>
<div class="container-fluid" set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px;margin-bottom: 10%;"></span>Estudiantes</label>
    <br>
    <!--<div class="col-sm-12" style="height: 75px;margin-bottom:25px;">
      <div class="alert alert-info sckola-alert-info
                  alert-notify animate-show-hide"
           ng-show="vm.showHelp"
           ng-click="vm.helpUser()"
           role="alert">
          <label >{{vm.helpMessage}}</label>
      </div>
      <div class="alert alert-success sckola-alert-success
                  alert-notify success animate-show-hide"
           ng-show="vm.showSuccessMessage"
           role="alert">
           {{vm.successMessage}}
      </div>
      <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
           ng-show="vm.showError" role="alert">
           {{vm.errorMessage}}
      </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showMessageDate" role="alert">
            {{vm.messageDate}}
        </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showMessageEmail" role="alert">
            {{vm.messageEmail}}
        </div>
    </div>-->
    <div class="row">
        <form role="form" name="studentForm" class="form-horizontal">
            <div class=" col-sm-12 form-section">
                <div class="col-sm-5" >
                    <label class="text-color label-form">CI</label>
                    <div ng-class="{mostrar: true == vm.validarIdentification}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validarIdentification}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validarIdentification}">Escriba la cédula de identidad</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validarIdentification}"></div>
                    </div>
                    <input class="form-control fillColor" name="identification" type="number" ng-model="vm.student.identification"
                           placeholder="" ng-change="vm.validarCampos()" required />
                    <span class="error" ng-show="!studentForm.$pristine && studentForm.identification.$error.required">La identificación es requerida.</span>
                </div>
            </div>
            <br/>
            <div class="col-sm-12 form-section">
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="text-color label-form">Primer nombre</label>
                    <div ng-class="{mostrar: true == vm.validationFirstName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationFirstName}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationFirstName}">Escriba el primer nombre</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationFirstName}"></div>
                    </div>
                    <input class="form-control fillColor"  name="firstName" type="text" ng-model="vm.student.firstName"
                           ng-keyup="vm.mensageNombreError(studentForm.firstName)" placeholder=""
                           ng-blur="vm.mensageNombreError(studentForm.firstName)" ng-change="vm.validarCampos()" required />
                    <span class="error" ng-show="!studentForm.$pristine && studentForm.firstName.$error.required">El primer nombre es requerido.</span>
                </div>
                <div class="col-sm-6">
                    <label class="text-color label-form">Segundo nombre</label>
                    <div ng-class="{mostrar: true == vm.validationSecondName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationSecondName}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationSecondName}">Escriba el segundo nombre</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationSecondName}"></div>
                    </div>
                    <input class="form-control  fillColor" type="text" ng-change="vm.validarCampos()" ng-model="vm.student.secondName"/>
                </div>

            </div>
            <br/>
            <div class="col-sm-12 form-section">
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="text-color label-form">Primer apellido</label>
                    <div ng-class="{mostrar: true == vm.validationFirstLastName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationFirstLastName}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationFirstLastName}">Escriba el primer apellido</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationFirstLastName}"></div>
                    </div>
                    <input class="form-control fillColor" name="firstLastName" type="text" ng-model="vm.student.lastName"
                           ng-keyup="vm.mensageApellidoError(studentForm.firstLastName)" placeholder=""
                           ng-blur="vm.mensageApellidoError(studentForm.firstLastName)" ng-change="vm.validarCampos()" required/>
                    <span class="error" ng-show="!studentForm.$pristine && studentForm.firstLastName.$error.required">El primer apellido es requerido.</span>
                </div>
                <div class="col-sm-6">
                    <label class="text-color label-form">Segundo apellido</label>
                    <div ng-class="{mostrar: true == vm.validationSecondLastName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationSecondLastName}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationSecondLastName}">Escriba el segundo apellido</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationSecondLastName}"></div>
                    </div>
                    <input class="form-control fillColor" type="text" ng-change="vm.validarCampos()" ng-model="vm.student.secondLastName"/>
                </div>
            </div>
            <br/>
            <div class="col-sm-12 form-section">
                <div class="col-sm-6"  style="padding-right: 16px">
                    <label class="text-color label-form">Fecha de nacimiento</label>
                    <div ng-class="{mostrar: true == vm.validationDate}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationDate}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationDate}">Escriba la fecha de nacimiento</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationDate}"></div>
                    </div>
                    <input ng-model="vm.student.date" type="date" ng-change="vm.validarCampos()" class="form-control" ng-blur="vm.validationFecha()" />
                </div>
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="text-color label-form">Sexo:</label>
                    <div ng-class="{mostrar: true == vm.validationGender}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationGender}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationGender}">Seleccione el género</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationGender}"></div>
                    </div>
                    <select ng-model="vm.student.gender" name="gender"
                            ng-options="gender for gender in vm.gender" ng-change="vm.validarCampos()"
                            class="form-control center-block" style="padding: 0px 18px">
                    </select>
                </div>
            </div>
            <br/>
            <div class="col-sm-12 form-section">
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="text-color label-form">Email estudiante</label>
                    <div ng-class="{mostrar: true == vm.validationMail}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationMail}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationMail}">Escriba el email del estudiante</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationMail}"></div>
                    </div>
                    <input class="form-control fillColor" required name="email" ng-change="vm.validarCampos()" type="email" ng-model="vm.student.mail"/>
                    <span ng-show="!studentForm.$pristine && studentForm.email.$error.required">El correo es requerido.</span>
                    <span class="error" ng-show="!studentForm.$pristine && studentForm.email.$error.email">Formato de correo inválido.</span>
                </div>
                <div class="col-sm-6" style="padding-right: 16px">
                    <label class="text-color label-form">Email representante</label>
                    <div ng-class="{mostrar: true == vm.validationMailRepresentative}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validationMailRepresentative}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validationMailRepresentative}">Escriba el email del representante</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validationMailRepresentative}"></div>
                    </div>
                    <input class="form-control fillColor" name="emailRepresentative" ng-change="vm.validarCampos()" type="email" ng-model="vm.student.mailRepresentative"/>
                </div>
            </div>
        </form>
        <div style="text-align: center">
            <div class="" style="">
                <button type="button"
                        ng-disabled="!studentForm.$valid"
                        ng-click="vm.createStudent()"
                        class = "btn btn-default sckola-btn"
                        style="width: auto; margin-bottom: 4%;margin-top: 4%;margin-right: 10%;box-shadow: 6px 5px 16px 0px #252121;">
                    Guardar<span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
        </div>
    </div>
</div>
