<br/><br/>
<div class="container-fluid" set-screen-height>
  <div class="row">
    <div class="col-xs-12">
      <label class="element-title text-color"><span class="glyphicon glyphicon-globe"></span>Comunidades</label>
    </div>
  </div>
  <div class="partial-view-messages"></div>
  <div class="row start-xs">
    <div class="col-md-3 partial-view">
      <label class="community-label">Comunidad:</label>
    </div>
    <div class="col-md-6">
      <select class="form-control" style="padding: 0px 18px" ng-model="vm.community" name="community" required
      ng-options="community.name for community in vm.communities" ng-change="vm.validarCampos()">
        <option value="">-- Seleccionar comunidad --</option>
      </select>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default sckola-btn shadow-feed-element" 
      ng-disabled="vm.community == null || vm.community == undefined" ng-click="vm.associateCommunity()">Guardar</button>
    </div>
  </div>
</div>
