<br/><br/>
<div class="container-fluid" set-screen-height>

    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px;"></span>Perfil</label>
    <br/>

    <div class="col-sm-12" style="">
        <div class="col-sm-4"></div>
                <form name="imagenes">
                   <div class="col-sm-3">
                       <div id="ember6176" class="profile-photo-edit ember-view">
                           <img src="static/images/{{vm.usuario.foto}}" border="4"  class="photoEditProfile maxSize" style="width: 220px;" />
                           <input type="file" name="file" id="file" accept="image/*" class="profile-photo-edit__file-upload-input"
                                   onchange="angular.element(this).scope().foto(this.files)" style="color: transparent; margin-top: 4%;margin-left: 25%;">
                       </div>
                   </div>
                </form>
    </div>
    <!--<div class="col-sm-12" style="height: 75px;
          margin-bottom: 25px;
          margin-top: 20px;
          text-align: center;">
      <div class="alert alert-info sckola-alert-info
                  alert-notify animate-show-hide"
           ng-show="vm.showHelp"
           ng-click="vm.helpUser()"
           role="alert">
          <label >{{vm.helpMessage}}</label>
      </div>
      <div class="alert alert-success sckola-alert-success
                  alert-notify success animate-show-hide"
           ng-show="vm.showSuccessMessage"
           role="alert">
           {{vm.successMessage}}
      </div>
      <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
           ng-show="vm.showErrorMessage" role="alert">
           {{vm.errorMessage}}
      </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showErrorMessageDate" role="alert">
            {{vm.errorMessageDate}}
        </div>
    </div>-->
    <div class="row">
        <form role="form">
            <div class="form-group col-sm-12"><br><br>
                <div class="col-sm-2 text-color label-form" >Primer nombre:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateFirstName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateFirstName}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateFirstName}">Escriba el primer nombre</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateFirstName}"></div>
                    </div>
                    <input type="text" id="firstName" ng-model="vm.usuario.firstName" class="form-control" ng-change="vm.validarCampo()"  maxlength="10"/>

                </div>
                <div class="col-sm-2 text-color label-form" >Segundo nombre:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateSecondName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateSecondName}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateSecondName}">Escriba el segundo nombre</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateSecondName}"></div>
                    </div>
                    <input type="text" id="secondName" ng-model="vm.usuario.secondName" class="form-control" ng-change="vm.validarCampo()" />
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-2 text-color label-form" >Primer apellido:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateLastName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateLastName}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateLastName}">Escriba el primer apellido</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateLastName}"></div>
                    </div>
                    <input type="text" id="firstLastName" ng-model="vm.usuario.lastName" class="form-control"  maxlength="14" ng-change="vm.validarCampo()" />
                </div>
                <div class="col-sm-2 text-color label-form" >Segundo apellido:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateSecondLastName}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateSecondLastName}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateSecondLastName}">Escriba el segundo apellido</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateSecondLastName}"></div>
                    </div>
                    <input type="text" id="secondLastName" ng-model="vm.usuario.secondLastName" class="form-control" ng-change="vm.validarCampo()" />
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-2 text-color label-form" >Fecha de nacimiento:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateBirthDate}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateBirthDate}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateBirthDate}">Selecciona una fecha</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateBirthDate}"></div>
                    </div>
                    <input type="date" id="birthday" ng-model="vm.usuario.birthdateOld" class="form-control" ng-change="vm.validarCampo()" ng-blur="vm.validarFechaDeNacimiento()"/>
                </div>
                <div class="col-sm-2 text-color label-form" >Sexo:</div>
                <div class="col-sm-4 perfil-campos" >
                    <div ng-class="{mostrar: true == vm.validateGender}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validateGender}" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateGender}">Seleccione su género</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validateGender}"></div>
                    </div>
                    <select ng-model="vm.usuario.gender" class="form-control text-color label-form" ng-change="vm.validarCampo()"  style="padding: 0px 18px;">
                        <option value=""> -- Seleccionar -- </option>
                        <option value="FEMALE"> FEMENINO </option>
                        <option value="MALE"> MASCULINO </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
              <button class="btn btn-default sckola-btn shadow-feed-element" ng-click="vm.update()" style="margin-left:69%">Guardar</button>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <br>
                    <label class="element-title text-color"><span class="glyphicon glyphicon-briefcase" style="padding-right:10px;">

                    </span>Nivel académico más reciente</label>

                    <br>
                    <br>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-12" style="padding: 0px" >
                        <ul style="padding-left: 0px" class="list-group">
                            <div class="form-horizontal-login curriculum-view">
                            <div class="col-sm-2 text-color label-form" style="width: 17%; padding: 1px;">Año</div>
                            <div class="col-sm-5 text-color label-form" style="width: 42%; padding: 1px;">Título</div>
                            <div class="col-sm-5 text-color label-form" style="width: 41%; padding: 1px;">Instituto</div>
                            </div>
                            <li ng-repeat="curriculum in vm.usuario.curriculum" class="col-sm-12 list-group-item" style="padding: 0; background-color: transparent; border-color: transparent;">
                                <div class="form-group col-sm-12 curriculum-view-movil" style="padding: 0;">
                                    <div class="col-sm-2 text-color label-form" style="width: 16%; padding: 1px;">Año</div>
                                    <div class="col-sm-2" style="padding: 1px;">
                                        <div ng-class="{mostrar: true == vm.entro}">
                                            <span class="color-white circulo" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                                            <span class="tooltipstext" ng-class="{mostrar: true == vm.entro}">Escriba el año del título</span>
                                            <div class="tooltips" ng-class="{mostrar: true == vm.entro}"></div>
                                        </div>
                                        <input placeholder="Año" ng-model="curriculum.anio" class="form-control" ng-blur="vm.validationCargaAcademica(curriculum); justNumbers()" min="1" style="width: 100%;font-size: 12px;" id="anio2" type="number"/></div>
                                    <div class="col-sm-5 text-color label-form" style="width: 42%; padding: 1px;">Título</div>
                                    <div class="col-sm-5" style="padding: 1px;">
                                        <div ng-class="{mostrar: true == vm.entro}">
                                            <span class="color-white circulo" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                                            <span class="tooltipstext" ng-class="{mostrar: true == vm.entro}">Escriba el título</span>
                                            <div class="tooltips" ng-class="{mostrar: true == vm.entro}"></div>
                                        </div>
                                        <input placeholder="Título" ng-model="curriculum.title" class="form-control" ng-blur="vm.updateExperience(curriculum)" style="width: 100%;font-size: 12px;" id="titulo2"/></div>
                                    <div class="col-sm-5 text-color label-form" style="width: 42%; padding: 1px;">Instituto</div>
                                    <div class="col-sm-5" style="padding: 1px;">
                                        <div ng-class="{mostrar: true == vm.entro}">
                                            <span class="color-white circulo" style="position: absolute; z-index: 10;top: -25px;left: 1px;">!</span>
                                            <span class="tooltipstext" ng-class="{mostrar: true == vm.entro}">Escriba el instituto</span>
                                            <div class="tooltips" ng-class="{mostrar: true == vm.entro}"></div>
                                        </div>
                                        <input placeholder="Instituto" ng-model="curriculum.institute" class="form-control" ng-blur="vm.updateExperience(curriculum)" style="width: 100%;font-size: 12px;padding: 2px;" id="instituto2"/></div>
                                </div>
                                <div class="form-horizontal-login curriculum-view">
                                <div class="col-sm-2" style="width: 16%; padding: 1px;">
                                    <div ng-class="{mostrar: true == vm.validateAnio}">
                                        <span class="color-white circulo" ng-class="{mostrar: true == vm.validateAnio}" style="position: absolute; z-index: 10;top: -25px;left: -15px;">!</span>
                                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateAnio}">Escriba el año del título</span>
                                        <div class="tooltips" ng-class="{mostrar: true == vm.validateAnio}"></div>
                                    </div>
                                    <input placeholder="Año" ng-model="curriculum.anio" class="form-control" ng-blur="vm.validationCargaAcademica(curriculum); justNumbers(); vm.validarCurriculum();" min="1" style="width: 100%;font-size: 12px; padding: 0;" id="anio" type="number"/></div>
                                <div class="col-sm-5" style="width: 42%; padding: 1px;">
                                    <div ng-class="{mostrar: true == vm.validateTitle}">
                                        <span class="color-white circulo" ng-class="{mostrar: true == vm.validateTitle}" style="position: absolute; z-index: 10;top: -25px;left: -15px;">!</span>
                                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateTitle}">Escriba el título</span>
                                        <div class="tooltips" ng-class="{mostrar: true == vm.validateTitle}"></div>
                                    </div>
                                    <input placeholder="Título" ng-model="curriculum.title" class="form-control" ng-blur="vm.updateExperience(curriculum); vm.validarCurriculum()" style="width: 100%;font-size: 12px;" id="titulo"/></div>
                                <div class="col-sm-5" style="width: 42%; padding: 1px;">
                                    <div ng-class="{mostrar: true == vm.validateInstitute}">
                                        <span class="color-white circulo" ng-class="{mostrar: true == vm.validateInstitute}" style="position: absolute; z-index: 10;top: -25px;left: -15px;">!</span>
                                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validateInstitute}">Escriba el instituto</span>
                                        <div class="tooltips" ng-class="{mostrar: true == vm.validateInstitute}"></div>
                                    </div>
                                    <input placeholder="Instituto" ng-model="curriculum.institute" class="form-control" ng-blur="vm.updateExperience(curriculum); vm.validarCurriculum()" style="width: 100%;font-size: 12px;padding: 2px;" id="instituto"/></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1" style=""></div>
                    <!--div-- class="col-sm-1" style="padding: 0px">
                        <span class="glyphicon glyphicon-plus-sign" style="vertical-align: middle" ng-click="vm.addTitleTeacher()"></span>
                    </div-->
                </div>
            </div>
            <!--<div class="form-group col-sm-12">
                <div class="col-sm-3" >Rol:</div>
                <div class="col-sm-9" >
                    <select class="form-control">
                        <option value=""> &#45;&#45; Seleccionar &#45;&#45; </option>
                        <option value=""> PROFESOR </option>
                        <option value=""> ESTUDIANTE </option>
                        <option value=""> REPRESENTANTE </option>
                        <option value=""> ADMINISTRATIVO </option>
                    </select>
                </div>
            </div>-->
            <!--div class="form-group col-sm-12">
                    <div class="col-sm-3" >Foto de Perfil:</div>
                    <div class="col-sm-9" >
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle" />
                        <input type="file"  id="exampleInputFile" />
                    </div>
            </div-->
        </form>
    </div>

</div>
