<br/><br/>
<div class="container-fluid" set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-tasks" style="padding-right:10px;margin-bottom: 10%;"></span> Crear Tarea</label>
    <br>
    <div class="row">
        <div class="col-sm-offset-1">
        <form role="form" name="taskForm" class="form-horizontal">
            <ul class="list-group list-group-section" style="width: 90%;">
                <li ng-hide="vm.showMessageInitial" class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                        <div class="form-horizontal-login div-list-content" style="width: 100%;">
                            <div class="col-sm-6 alignText color-white" style="width: 50%; padding: 0;">
                                <input class="form-control fillColor" name="titulo" type="text" ng-model="vm.task.name"
                                       placeholder="Titulo" required >
                            </div>
                            <div class="col-sm-6 alignText color-white div-list" style="padding-right: 0;">
                                <select ng-model="vm.matterCommunitySection" name="clase" required
                                        ng-options="class.matterCommunity.name +' '+ class.section.name for class in vm.communityMatters"
                                        class="form-control center-block" ng-change="vm.selectClass(vm.matterCommunitySection)"
                                        style="padding: 0px 18px;">
                                    <option value="">-- Seleccionar Clase --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                        <div class="form-horizontal-login div-list-content" style="width: 100%;">
                            <textarea ng-model="vm.task.description" style="width: 100%; height: 100px;" placeholder="Descripción"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                        <div class="form-horizontal-login div-list-content" style="width: 100%;">
                            <div class="col-sm-1 alignText color-white" style="width: 30%">
                                <button type="button"
                                        ng-click="vm.addAdjunt()"
                                        class = "btn btn-default sckola-btn"
                                        style="width: auto; margin-bottom: 4%;margin-top: 4%;margin-right: 10%;box-shadow: 6px 5px 16px 0px #252121;">
                                    Adjunto<span class="glyphicon glyphicon-paperclip"></span>
                                </button>
                            </div>
                            <div class="col-sm-4 alignText color-white div-list">
                                <input type="date" id="birthday" ng-model="vm.completionDate" class="form-control" ng-change="vm.validarCampo()" ng-blur="vm.validarFechaDeNacimiento()"/>
                            </div>
                            <div class="col-sm-5 alignText color-white div-list">
                                <select ng-model="vm.task.evaluacion" name="evaluacion"
                                        ng-options="template.objective for template in vm.evaluations"
                                        class="form-control center-block" ng-change="vm.viewTemplate()"
                                        style="padding: 0px 18px;">
                                    <option value="">-- Evaluación --</option>
                                </select>
                            </div>
                            <div class="col-sm-2 alignText color-white div-list">
                                <button type="button"
                                        ng-disabled="!taskForm.$valid"
                                        ng-click="vm.createTask()"
                                        class = "btn btn-default sckola-btn"
                                        style="width: auto; margin-bottom: 4%;margin-top: 4%;margin-right: 10%;box-shadow: 6px 5px 16px 0px #252121;">
                                    Crear<span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        </div>
    </div>
</div>
