<br/><br/>
<div set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px; margin-bottom: 20%;"></span>Notas</label>
    <br>
    <div style="height: 75px;margin-bottom:25px;">
        <div class="alert alert-info sckola-alert-info
                  alert-notify animate-show-hide"
             ng-show="vm.showHelp"
             role="alert">
            <label >{{vm.helpMessage}}</label>
        </div>
        <div class="alert alert-success sckola-alert-success
                  alert-notify success animate-show-hide"
             ng-show="vm.showSuccessMessage"
             role="alert">
            {{vm.successMessage}}
        </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showErrorMessage" role="alert">
            {{vm.errorMessage}}
        </div>
    </div>
    <div class="row">
        <div class="animate-show-hide" ng-show="vm.terminate">
            <form role="form" name="formUploadNotes" class="form-horizontal">
                <!--<div class="alert alert-warning sckola-alert-warning
                            alert-notify animate-show-hide"
                     ng-show="false"
                     role="alert">
                    <label >{{vm.messageInitial}}</label>
                </div>-->

                <div class="form-group form-horizontal-login" ng-hide="vm.showMessageInitial">
                    <label for="filtro" class="col-sm-3 control-label text-color" style="padding-left:5%;margin-left: 3%; font-size: 20px;" ng-hide="vm.hideStudents">Estudiante: </label>
                    <div class="col-sm-6" style="margin-left: 2%; width: 50%;" ng-hide="vm.hideStudents">
                        <select ng-model="vm.selectStudent" id="filtro2" name="filtro"
                                required
                                ng-options="student.firstName for student in vm.students"
                                class="form-control center-block"
                                ng-change="vm.mattersCommunitysSection(2,vm.selectStudent.id)"
                                style="padding:0px 18px;">
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group form-horizontal-login" ng-hide="vm.showMessageInitialClass">
                    <label for="filtro" class="col-sm-3 control-label text-color" style="padding-left:5%;margin-left: 3%; font-size: 20px;" ng-hide="vm.showClaseUnic">Clase: </label>
                    <label class="col-sm-9 text-color" align="left" style="padding-left: 5%;margin-left: 3%; font-size: 20px;" ng-show="vm.showClaseUnic">Clase: {{vm.claseUnic.name}}</label>
                    <div class="col-sm-6" style="margin-left: 2%; width: 50%;" ng-hide="vm.showClaseUnic">
                        <select ng-model="vm.claseSelect" id="filtro" name="filtro"
                                required
                                ng-options="clase.name for clase in vm.clase"
                                class="form-control center-block"
                                ng-change="vm.selectEstudianteNotes(vm.claseSelect)"
                                style="padding:0px 18px;">
                        </select>
                    </div>
                </div>
                <br><br>
                <div class="animate-show-hide" ng-show="vm.show">
                    <div class="form-horizontal-login">
                        <div class="col-sm-6" style="width: 50%;">
                            <label class="text-color" style="font-size: 17px;padding-left: 5px;margin-left: 14%;">Estudiante {{ vm.selectStudent.firstName }} {{ vm.selectStudent.lastName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-offset-1" style="width:95%; margin-top: 5%">
                        <div id="ember2244" class="list-group-item modal-list-item col-sm-12 form-horizontal-login" style="width: 70%">
                            <div class="col-sm-9" style="width: 80%;">
                                <p class="block-with-text color-white font-large">Evaluación</p>
                            </div>
                            <div class="col-sm-3" style="width: 20%">
                                <p class="block-with-text color-white font-large">Nota</p>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li ng-repeat="evaluation in vm.calificationStudent"
                                class="list-group-item modal-list-item col-sm-12" style="width: 70%">
                                <div class="col-sm-12 alignMiddler form-horizontal-login" >
                                    <div class="col-sm-9" style="width:80%;"><p class="color-white font-large">{{ evaluation.nameEvaluation }}</p></div>
                                    <div class="col-sm-3 form-horizontal-login" style="width: 20%;">
                                        <p class="block-with-text col-sm-7 color-white font-large" ng-show="evaluation.qualification.value != null">{{ evaluation.qualification.value }}</p>
                                        <p class="block-with-text col-sm-7 color-white font-large" ng-show="evaluation.qualification.value == null">0</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide"
                     ng-show="vm.messageClaseShow" role="alert">
                    {{vm.messageClase}}
                </div>-->
            </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div>
