<div class="container-fluid mdl-shadow--2dp" set-screen-height>
    <br><br>
    <label class="element-title text-color"><span class="glyphicon glyphicon-file"
       style="padding-right:10px; margin-bottom: 20%;"></span>Plan de evaluación</label>
    <br/>
    <!--<div style="height: 75px;">
        <div class="alert alert-success sckola-alert-success alert-notify success
          animate-show-hide" style="margin-left: 23%;"
          ng-show="vm.showSuccessMessage"
          role="alert">{{vm.successMessage}}</div>
          <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
               ng-show="vm.showError" role="alert">
               {{vm.errorMessage}}
          </div>
    </div>-->
    <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide" ng-show="vm.evaluationPlan.length === 0" role="alert">
      <label >No has creado ningun plan de evaluación.</label>
    </div>-->
    <div class="row">
        <div class="animate-show-hide" ng-show="vm.terminate">
        <form role="form" name="formEvaluation" class="form-horizontal">
          <div class="alert alert-info sckola-alert-info
                      alert-notify animate-show-hide"
               ng-show="vm.showHelp"
               ng-click="vm.helpUser()"
               role="alert" style="margin-left: 24%; cursor: pointer;">
              <label style="cursor: pointer;">{{vm.helpMessage}}</label></div>
            <div class="col-sm-offset-1" style="width:95%;">
            <ul class="list-group list-group-section">
                <li class="list-group-item initial-message ember-view col-sm-12"
                  ng-show="vm.showMessageInitial">
                  <!--<div class="alert alert-warning sckola-alert-warning
                              alert-notify animate-show-hide"
                       ng-show="vm.showMessageInitial && !vm.messageClaseShow"
                       role="alert">
                    <label >{{vm.messageInitial}}</label>
                  </div>-->
                </li>
                <li  ng-repeat="evaluation in vm.evaluationPlan" ng-hide="vm.showMessageInitial"
                  class="list-group-item list-group-section-item ember-view
                    col-sm-12">
                    <div class="col-sm-12 alignMiddler div-container">
                        <div  class="col-sm-2" style="width: 20%">
                            <a class=" EntityPhoto-circle-3">
                                <img src="static/images/book.png"
                                  class="list-group-section-image">
                            </a>
                        </div>
                        <div class="form-horizontal-login div-list-content" style="width: 80%;">
                        <div class="col-sm-7 alignText color-white" style="width: 75%;">
                            <label class="wrap-text feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                                {{evaluation.name}}
                            </label>
                        </div>
                        <div class="col-sm-4 alignText div-list">
                            <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                            <span class="glyphicon glyphicon-link color-white"
                                  aria-hidden="true" title="Asociar plan a clase"
                                  style="cursor:pointer"
                                  ng-hide="evaluation.matterCommunitySection != null"
                                  ng-click="vm.associatePlanClase(evaluation)"></span>
                            <span class="glyphicon glyphicon-eye-open color-white"
                                  aria-hidden="true" title="Detalle del plan de evaluación"
                                  style="cursor:pointer"
                                  ng-click="vm.detailPlan(evaluation)"></span>
                            </label>
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
                <br>
                <br>
                <button class="btn btn-default sckola-btn-courses shadow-feed-element pull-right btn-matter"
                  ng-hide="vm.showMessageInitial"
                  style="width: 20%;margin-right: 20%;margin-top:5%;margin-bottom: 2%;"
                  ng-click="vm.evaluationPlanNew()">
                    <span aria-hidden="true">Añadir
                      <span class="glyphicon glyphicon-plus"
                      style="margin-left: 2%;"></span>
                    </span>
                </button>
            </div>
        </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div>
