<br/><br/>
<div set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px; margin-bottom: 20%;"></span>Clases</label>
    <br>
    <div class="col-sm-12" style="height: 90px;">
        <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide" ng-show="vm.showSuccessMessage" style="margin-left: 24%;" role="alert">{{vm.successMessage}}</div>
        <div class="alert alert-info sckola-alert-info
                    alert-notify animate-show-hide"
             ng-show="vm.showHelp"
             role="alert" style="cursor: pointer;">
            <label style="cursor: pointer;">{{vm.helpMessage}}</label>
        </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showError" role="alert">
            {{vm.errorMessage}}
        </div>
    </div>
    <div class="col-sm-12" ng-hide="vm.hideStudents">
        <select ng-model="vm.student" name="community" required
                ng-options="student.firstName for student in vm.students" ng-change="vm.mattersCommunitysSectionStudent()"
                class="form-control center-block community-combo" style="padding: 0px 18px">
        </select>
    </div>
    <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide" ng-show="vm.communityMatters.length === 0" role="alert">
      <label >No existe ninguna clase en esta comunidad. ¡Crea una clase para invitar estudiantes!</label>
    </div>-->
    <div class="row">
        <div class="animate-show-hide" ng-show="vm.terminate">
            <form role="form" name="formStudents" class="form-horizontal">

                <div class="col-sm-offset-1" style="width:95%">

                    <ul class="list-group list-group-section">
                        <li class="list-group-item initial-message ember-view col-sm-12" ng-show="vm.showMessageInitial">
                            <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide" ng-show="vm.showMessageInitial && !vm.messageClaseShow" role="alert">
                              <label >{{vm.messageInitial}}</label>
                            </div>-->


                        </li>
                        <li ng-repeat="class in vm.communityMatters| orderBy:'matterCommunity.name'" ng-hide="vm.showMessageInitial" class="list-group-item list-group-section-item ember-view col-sm-12">
                            <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%">
                                <div  class="col-sm-2" style="width: 20%">
                                    <a class=" EntityPhoto-circle-3">
                                        <img src="static/images/book.png" class="list-group-section-image">
                                    </a>
                                </div>
                                <div class="form-horizontal-login div-list-content" style="width: 80%;">
                                    <div class="col-sm-6 alignText color-white" style="width: 50%">
                                        <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                                            {{class.matterCommunity.name}}
                                        </label>
                                    </div>
                                    <div class="col-sm-3 alignText color-white div-list">
                                        <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                                            {{class.section.name}}
                                        </label>
                                    </div>
                                    <div style="margin-top: 49px;" class="col-sm-3 alignText color-white div-list">
                                        <button style=" width:201px !important;" ng-click="vm.planEvaluation(class)" class="btn btn-default sckola-btn-courses shadow-feed-element pull-right btn-matter">
                                            Plan de evaluación
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="class.status" class="animate-show-hide div-container-sub">

                                <ul class="list-group" style="margin-top:5%;">
                                    <li ng-repeat="student in class.students| orderBy:'firstName'" class="list-group-item list-group-section-item ember-view col-sm-12" style="width: 100%; display: flex;">
                                        <div  class="col-sm-2" style="width: 20%; padding-left: 0;">
                                            <a class="feed-s-pymk-list-item__profile-link ember-view">
                                                <img src="static/images/ghostPerson.png" class="list-group-section-image" >
                                            </a>
                                        </div>
                                        <div class="alignMiddler" style="display: flex; width: 80%">
                                            <div class="col-sm-6 alignText div-student-name">
                                                <label class="feed-s-pymk-list-item__profile-link ember-view">
                                                    <h4 class="color-white font-large" >{{student.firstName}} {{student.secondName}} {{student.lastName}} {{student.secondLastName}}</h4>
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div>